.input{
    position: relative;
    background-color: #A599B5;
    font-family: Arial, Helvetica, sans-serif;
    border-width: 5px;
    border-radius: 5px;
    border-style: hidden;
    line-height: 25px;
    
    
}

.h1{
    position: relative;
    color: #CDDDDD;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px #A599B5;
}

.label{
    position: relative;
    color: #CDDDDD;
    font-size: 30px;
    text-shadow:2px 2px #051014;
}

.button{
    position: relative;
    box-shadow: 2px 2px #051014;
    font-weight: bold;
    color: #051014;
    background-color: #CDDDDD;
    border-radius: 5px;
}

.button:hover{
    background-color: #A599B5;
    color: #051014;
    border-radius: 5px;
}

.buttonA{
    position: relative;
    box-shadow: 2px 2px #051014;
    font-weight: bold;
    color: #051014;
    background-color: #CDDDDD;
    border-radius: 5px;
}

.buttonA:hover{
    background-color: #7DDF64;
    color: #051014;
    border-radius: 5px;
}

.buttonB{
    position: relative;
    box-shadow: 2px 2px #051014;
    font-weight: bold;
    color: #051014;
    background-color: #CDDDDD;
    border-radius: 5px;
}

.buttonB:hover{
    background-color: #FF3E41;
    color: #051014;
    border-radius: 5px;
}

body{
    background-color: #051014;
}

#loginDiv{
    position: absolute;
    width: 400px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -200px;
    text-align: center;
}

#addDiv{
    position: absolute;
    width: 400px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -200px;
}

.detailLink{
    color: azure;
    font-size: large;
}

.detailLink:hover{
    color: #A599B5;
}

.table,.tHead,.tData{
    border: 2px solid #A599B5;
    color: azure;
    border-radius: 5px;
}

.tHead{
    text-align: center;
}

.tData{
    text-align: center;
}

.p{
    position: relative;
    color: azure;
    font-size: x-large;
    text-shadow:2px 2px black;
}

.nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
}